= render "users/header"
.new_sentence
  = form_with model: @paraphrase, local: true, class: 'new_sentence__main' do |f|
    .new_sentence__main__theme
      .new_sentence__main__theme__header
      .new_sentence__main__theme__body
        .new_sentence__main__theme__body__text
          = @theme.question
        .new_sentence__main__theme__body__image
          = image_tag "BigUnder.png", size:"400x100"
    .new_sentence__main__answer
      .new_sentence__main__answer__header
        = f.text_field :answer, type: "text", placeholder:"  paraphrase?", class: "new_sentence__main__answer__header__text"
        = f.hidden_field :theme_id, value: "#{@theme.id}"
      .new_sentence__main__answer__body
        = f.submit "O K !" ,class: "new_sentence__main__answer__body__button" 


