.theme_sentence
  .theme_sentence__main
    - @theme.each do |theme|
      .theme_sentence__main__content
        - if theme.paraphrases.present?
          = link_to "comments here !", themes_paraphrase_path(theme), class: "theme_sentence__main__content__button"
        - else
          = link_to "no paraphrase...add?", add_paraphrase_path(theme), class: "theme_sentence__main__content__button"
        .theme_sentence__main__content__theme
          = theme.question
        .theme_sentence__main__content__phrase
          - theme.paraphrases.first(3).each do |paraphrase|
            .theme_sentence__main__content__phrase__text
              = paraphrase.answer
            -# .theme_sentence__main__content__phrase__comment
            -#   - paraphrase.comments.first(3).each do |comment|
            -#     .theme_sentence__main__content__phrase__comment__item
            -#       = comment.text
  .theme_sentence__bottom
    = paginate(@theme)