= render "users/header"
= render "users/add"
.show_sentence
  past paraphrase
  .show_sentence__main
    - @theme.each do |theme|
      .show_sentence__main__content
        - if theme.paraphrases.present?
          = link_to "more👉", themes_paraphrase_path(theme), class: "button"
        - else
          = link_to "no paraphrase...add?", add_paraphrase_path(theme), class: "button"
        .show_sentence__main__content__theme
          = theme.question
        .show_sentence__main__content__phrase
          - theme.paraphrases.each do |paraphrase|
            .show_sentence__main__content__phrase__text
              = paraphrase.answer
            .show_sentence__main__content__phrase__comment
              - paraphrase.comments.each do |comment|
                .show_sentence__main__content__phrase__comment__item
                  = comment.text
  = paginate(@theme)
